body {
    background-color: #080F15;
}

.main {
    overflow-x: hidden;

}

.header {
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
}


h2 {
    color: #C5C5C7;
    font-family: sans-serif;
    position: relative;
    bottom: 20px;
}

.menu {
    margin-left: 10px;
}

.input-center {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 25px;
    right: 10px;
}

input {
    background-color: #1E2327;
    border: 0;
    padding: 10px;
    padding-left: 40px;
    width: 300px;
    height: 30px;
    border-radius: 50px;
    color: white;

}

::placeholder {
    color: #71767A;
    font-size: 16px;
}

.body .img {
    position: relative;
    left: 30px;
    top: 15px;
}

input:focus {
    outline: none;
}

.instapro1 {
    min-width: 70px;
    height: 70px;
    margin-left: 20px;
    background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 26px, transparent 26px) 0% 0%/30px 30px no-repeat,
        radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 26px, transparent 26px) 100% 0%/30px 30px no-repeat,
        radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 26px, transparent 26px) 0% 100%/30px 30px no-repeat,
        radial-gradient(circle at 0 0, #ffffff 0, #ffffff 26px, transparent 26px) 100% 100%/30px 30px no-repeat,
        linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 8px) calc(100% - 60px) no-repeat,
        linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 60px) calc(100% - 8px) no-repeat,
        linear-gradient(33deg, #fcc04b 0%, rgba(251, 185, 80, 1) 33%, #d803cf 60%, #f70468 96%);
    border-radius: 100px;
    padding: 2px;
    box-sizing: border-box;

}

.username {
    color: white ;
}

.list{
    display: flex;
    justify-content: center;
}

.list-2{
    display: flex;
    justify-content: start;
}

.list-width{
    width: 500px;
}